 .u-section-1 {
  background-image: url("images/vccvv-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  width: 678px;
  margin: 191px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-style: italic;
  font-size: 1.125rem;
  width: 568px;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 33px auto 60px;
  padding: 19px 47px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    width: 492px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
    width: 429px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    padding: 15px 40px 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 531px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 411px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-2 .u-icon-1 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 29px auto 0;
  padding: 14px;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 43px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-2 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 39px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-2 .u-icon-3 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 29px auto 0;
  padding: 14px;
}

.u-section-2 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-2 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: 39px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-2 .u-icon-5 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 29px auto 0;
  padding: 14px;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-2 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: 39px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 779px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 653px;
}

.u-section-3 .u-group-1 {
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 454px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 17px 80px 0;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  width: 794px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 41px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 30px;
  height: 452px;
  background-image: none;
  margin: -310px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 30px;
  height: 452px;
  background-image: none;
  margin: -452px 0 0 auto;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  align-self: center;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -81px auto 0;
  padding: 14px 36px 14px 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    min-height: 493px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    min-height: 533px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 713px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 790px;
}

.u-section-4 .u-shape-1 {
  width: 320px;
  height: 160px;
  transform-origin: center center;
  opacity: 0;
  filter: blur(10px);
  background-position: 50% 0vh;
  transform: scaleY(-1);
  margin: -47px auto 0 30px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -53px auto 0;
}

.u-section-4 .u-group-elements-1 {
  width: 310px;
  min-height: 358px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 123px auto 0 51px;
}

.u-section-4 .u-shape-2 {
  height: auto;
  transform-origin: center center;
  margin-top: 0;
  margin-bottom: 0;
  transform: scaleX(-1) scaleY(-1);
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: -27px 66px 0;
}

.u-section-4 .u-group-elements-2 {
  width: 310px;
  min-height: 366px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -393px auto 0 295px;
}

.u-section-4 .u-shape-3 {
  height: auto;
  margin-top: 206px;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  margin: -366px 66px 0;
}

.u-section-4 .u-group-elements-3 {
  width: 310px;
  min-height: 357px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -330px auto 0 536px;
}

.u-section-4 .u-shape-4 {
  height: auto;
  transform-origin: center center;
  margin-top: 0;
  margin-bottom: 0;
  transform: scaleX(-1) scaleY(-1);
}

.u-section-4 .u-text-4 {
  font-size: 2.25rem;
  margin: -28px 66px 0;
}

.u-section-4 .u-group-elements-4 {
  width: 310px;
  min-height: 377px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -404px auto 0 780px;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  margin: -8px 66px 0;
}

.u-section-4 .u-shape-5 {
  height: auto;
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 105px auto 42px;
  padding: 19px 47px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-elements-1 {
    margin-left: 26px;
  }

  .u-section-4 .u-text-2 {
    width: 179px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-left: 270px;
  }

  .u-section-4 .u-group-elements-3 {
    margin-left: 511px;
  }

  .u-section-4 .u-text-4 {
    width: 179px;
  }

  .u-section-4 .u-group-elements-4 {
    margin-left: 605px;
  }

  .u-section-4 .u-text-5 {
    width: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-elements-3 {
    margin-left: 385px;
  }

  .u-section-4 .u-group-elements-4 {
    margin-left: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-2 {
    margin-left: 205px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-3 {
    margin-left: 205px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-4 {
    margin-left: 205px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-shape-5 {
    margin-top: 120px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    margin-left: 20px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-left: auto;
  }

  .u-section-4 .u-group-elements-2 {
    margin-left: auto;
  }

  .u-section-4 .u-group-elements-3 {
    margin-left: auto;
  }

  .u-section-4 .u-group-elements-4 {
    margin-left: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 2309px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 66px 80px 0;
}

.u-section-5 .u-list-1 {
  margin-top: 66px;
  margin-bottom: 0;
  width: 7px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 1118px;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  background-size: cover;
  background-position: 50% 50%;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-list-item-2 {
  background-position: 50% 50%;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/image6.png");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-list-item-4 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-list-item-5 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-list-item-6 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-group-1 {
  width: 624px;
  height: auto;
  --radius: 15px;
  min-height: 413px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -1118px auto 0 30px;
}

.u-section-5 .u-container-layout-7 {
  padding: 26px 30px;
}

.u-section-5 .u-group-elements-1 {
  width: 362px;
  min-height: 278px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 4px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 282px;
  height: 185px;
  margin: 45px 0 0 auto;
}

.u-section-5 .u-group-2 {
  width: 624px;
  height: auto;
  --radius: 15px;
  min-height: 414px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 88px 66px 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 0 0 30px;
}

.u-section-5 .u-group-elements-2 {
  width: 577px;
  min-height: 353px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 17px 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-3 {
  height: 275px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-group-3 {
  width: 624px;
  height: auto;
  --radius: 15px;
  min-height: 431px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 89px auto 0 41px;
}

.u-section-5 .u-container-layout-9 {
  padding: 0;
}

.u-section-5 .u-group-elements-3 {
  width: 564px;
  min-height: 335px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-4 {
  height: 298px;
  margin-top: -11px;
  margin-bottom: 0;
}

.u-section-5 .u-icon-1 {
  width: 172px;
  height: 172px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -970px auto 0 238px;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 172px;
  height: 172px;
  transform-origin: center center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: scaleX(-1);
  margin: 312px 239px 0 auto;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 172px;
  height: 172px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 367px auto 0 224px;
  padding: 0;
}

.u-section-5 .u-group-4 {
  width: 624px;
  height: auto;
  --radius: 15px;
  min-height: 414px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -136px 80px 0 auto;
}

.u-section-5 .u-container-layout-10 {
  padding: 26px 0;
}

.u-section-5 .u-group-elements-4 {
  width: 530px;
  min-height: 343px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 4px auto 0 30px;
}

.u-section-5 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-5 {
  width: 495px;
  height: 271px;
  margin: 24px 0 0 auto;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 66px auto 44px;
  padding: 19px 47px 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 542px;
  }

  .u-section-5 .u-image-1 {
    background-size: cover;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-icon-3 {
    transform: scaleX(-1);
    transform-origin: center center;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 934px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-2 {
    width: 540px;
    min-height: 316px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 238px;
  }

  .u-section-5 .u-group-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-group-elements-3 {
    width: 540px;
    min-height: 295px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-4 {
    height: 258px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 179px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 179px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 168px;
  }

  .u-section-5 .u-group-4 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-4 {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    min-height: 1949px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 320px;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
  }

  .u-section-5 .u-group-elements-2 {
    width: 340px;
    min-height: 228px;
  }

  .u-section-5 .u-image-3 {
    height: 150px;
  }

  .u-section-5 .u-group-3 {
    width: 340px;
  }

  .u-section-5 .u-group-elements-3 {
    width: 340px;
    min-height: 199px;
  }

  .u-section-5 .u-image-4 {
    height: 162px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 113px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 113px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 106px;
  }

  .u-section-5 .u-group-4 {
    width: 340px;
  }

  .u-section-5 .u-group-elements-4 {
    width: 340px;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1036px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 190px;
  margin: 75px auto 0;
}

.u-section-6 .u-group-elements-1 {
  width: 825px;
  min-height: 301px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 430px 73px 0 auto;
}

.u-section-6 .u-shape-1 {
  width: 792px;
  height: 301px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-elements-2 {
  width: 792px;
  min-height: 301px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -301px 0 0 auto;
}

.u-section-6 .u-shape-2 {
  transform-origin: center center;
  transform: scaleX(-1);
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 135px;
  margin: 73px 12px 0 auto;
}

.u-section-6 .u-group-elements-3 {
  width: 867px;
  min-height: 301px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -602px auto 0 0;
}

.u-section-6 .u-shape-3 {
  width: 792px;
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-group-elements-4 {
  width: 828px;
  min-height: 301px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -301px auto 0 0;
}

.u-section-6 .u-shape-4 {
  width: 792px;
  height: 301px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-image-2 {
  width: 603px;
  height: 282px;
  margin: -291px auto 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 374px auto 29px;
  padding: 19px 47px 20px;
}

@media (max-width: 991px) {
  .u-section-6 .u-group-elements-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-6 .u-group-elements-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-6 .u-group-elements-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-6 .u-group-elements-3 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 1525px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 145px;
  margin: 63px auto 0;
}

.u-section-7 .u-group-elements-1 {
  width: 572px;
  min-height: 553px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 83px auto 0 calc(((100% - 1140px) / 2)  + 48px);
}

.u-section-7 .u-shape-1 {
  width: 318px;
  height: 153px;
  margin: 0 101px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 314px;
  height: 40px;
  margin: -112px 105px 0 auto;
}

.u-section-7 .u-image-2 {
  height: auto;
  --radius: 12px;
  margin-top: 85px;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -222px calc(((100% - 1140px) / 2)  + 26px) 0 calc(((100% - 1140px) / 2)  + 665px);
}

.u-section-7 .u-group-elements-2 {
  width: 572px;
  min-height: 558px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 202px calc(((100% - 1140px) / 2)  + 72px) 0 auto;
}

.u-section-7 .u-shape-2 {
  width: 318px;
  height: 153px;
  margin: 0 100px 0 auto;
}

.u-section-7 .u-image-3 {
  width: 99px;
  height: 40px;
  margin: -112px 210px 0 auto;
}

.u-section-7 .u-image-4 {
  height: auto;
  margin-top: 83px;
  margin-bottom: 0;
}

.u-section-7 .u-shape-3 {
  width: 26px;
  height: 701px;
  background-image: none;
  margin: -877px 0 0 auto;
}

.u-section-7 .u-shape-4 {
  width: 28px;
  height: 701px;
  background-image: none;
  margin: -701px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  align-self: center;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 259px auto 30px;
  padding: 14px 36px 14px 35px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-elements-1 {
    margin-left: calc(((100% - 940px) / 2) + 48px);
  }

  .u-section-7 .u-image-2 {
    height: NaNpx;
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 491px);
  }

  .u-section-7 .u-group-elements-2 {
    margin-right: calc(((100% - 940px) / 2) + 72px);
  }

  .u-section-7 .u-image-4 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-elements-1 {
    margin-left: calc(((100% - 720px) / 2) + 48px);
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 271px);
  }

  .u-section-7 .u-group-elements-2 {
    margin-right: calc(((100% - 720px) / 2) + 72px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-elements-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 91px);
  }

  .u-section-7 .u-group-elements-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-elements-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-group-elements-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(71,138,201,0.65), rgba(71,138,201,0.65)), url('images/3730262_73938.jpg');
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 921px;
}

.u-section-8 .u-text-1 {
  margin: 90px 358px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 570px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 20px 29px;
}

.u-section-8 .u-list-1 {
  margin: 0 10px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 199px;
  grid-auto-columns: 288px 288px;
  grid-gap: 10px;
}

.u-section-8 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-3 {
  padding: 10px;
}

.u-section-8 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-text-5 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-8 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-4 {
  padding: 10px;
}

.u-section-8 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-text-7 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-8 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-5 {
  padding: 10px;
}

.u-section-8 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-text-9 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-8 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-6 {
  padding: 10px;
}

.u-section-8 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-text-11 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-group-elements-1 {
  width: 267px;
  min-height: 128px;
  height: auto;
  margin: 7px 165px 0 174px;
}

.u-section-8 .u-text-12 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 267px;
  margin: 0 auto;
}

.u-section-8 .u-text-13 {
  font-weight: 400;
  width: 225px;
  margin: 20px 23px 0 10px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  margin: 124px auto 7px;
  padding: 0 15px 0 13px;
}

.u-section-8 .u-icon-1 {
  margin-left: 0;
  vertical-align: -10px;
  font-size: 2.9376em;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 158px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-8 .u-group-elements-1 {
    margin-right: 108px;
    margin-left: 118px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 732px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-8 .u-group-elements-1 {
    margin-right: 46px;
    margin-left: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-group-elements-1 {
    margin-bottom: -36px;
  }

  .u-section-8 .u-text-12 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-group-elements-1 {
    margin-right: 22px;
    margin-bottom: -43px;
    margin-left: 32px;
  }

  .u-section-8 .u-text-12 {
    font-size: 1.5rem;
  }
}