 .u-section-1 {
  background-image: url("images/vccvv-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  width: 698px;
  margin: 199px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-style: italic;
  font-size: 1.125rem;
  width: 568px;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 33px auto 60px;
  padding: 19px 47px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 678px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    width: 492px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
    width: 429px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    padding: 15px 40px 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 577px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 411px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-2 .u-icon-1 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 29px auto 0;
  padding: 14px;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 43px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-2 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 39px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-2 .u-icon-3 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 29px auto 0;
  padding: 14px;
}

.u-section-2 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-2 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: 39px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-2 .u-icon-5 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 29px auto 0;
  padding: 14px;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-2 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: 39px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 779px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 649px;
}

.u-section-3 .u-group-1 {
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 477px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 17px 80px 0;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  width: 794px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 41px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 30px;
  height: 452px;
  background-image: none;
  margin: -350px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 30px;
  height: 452px;
  background-image: none;
  margin: -452px 0 0 auto;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  align-self: center;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -41px auto 0;
  padding: 14px 36px 14px 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    min-height: 493px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    min-height: 533px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 713px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: url("images/default-image.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 2631px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 71px auto 0;
}

.u-section-4 .u-group-elements-1 {
  width: 238px;
  min-height: 140px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 165px auto 0 367px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 51px 57px 0 45px;
}

.u-section-4 .u-group-elements-2 {
  width: 183px;
  min-height: 112px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 0 auto 0 406px;
}

.u-section-4 .u-text-3 {
  margin: 42px 0 0 auto;
}

.u-section-4 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 112px;
  height: 112px;
  margin: -71px auto 0 0;
}

.u-section-4 .u-icon-1 {
  width: 112px;
  height: 112px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  padding: 0;
}

.u-section-4 .u-group-elements-3 {
  width: 220px;
  min-height: 156px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 0 auto 0 358px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 40px 0;
}

.u-section-4 .u-group-elements-4 {
  width: 243px;
  min-height: 112px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 6px auto 0 412px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 31px 0 0 95px;
}

.u-section-4 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 112px;
  height: 112px;
  margin: -69px auto 0 0;
}

.u-section-4 .u-icon-2 {
  width: 112px;
  height: 112px;
  transform-origin: center center;
  margin-left: 0;
  margin-right: 0;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  padding: 0;
}

.u-section-4 .u-group-elements-5 {
  width: 220px;
  min-height: 156px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 10px auto 0 358px;
}

.u-section-4 .u-shape-3 {
  background-image: none;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-4 .u-group-elements-6 {
  width: 231px;
  min-height: 112px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px auto 0 412px;
}

.u-section-4 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 37px 0 0 95px;
}

.u-section-4 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 112px;
  height: 112px;
  margin: -76px auto 0 0;
}

.u-section-4 .u-icon-3 {
  width: 112px;
  height: 112px;
  transform-origin: center center;
  margin-left: 0;
  margin-right: 0;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  padding: 0;
}

.u-section-4 .u-group-elements-7 {
  width: 220px;
  min-height: 156px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 10px auto 0 350px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 34px 0;
}

.u-section-4 .u-group-elements-8 {
  width: 136px;
  min-height: 112px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1px auto 0 412px;
}

.u-section-4 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 37px 0 0 95px;
}

.u-section-4 .u-rotation-parent-4 {
  animation-timing-function: ease;
  width: 112px;
  height: 112px;
  margin: -76px auto 0 0;
}

.u-section-4 .u-icon-4 {
  width: 112px;
  height: 112px;
  transform-origin: center center;
  margin-left: 0;
  margin-right: 0;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  padding: 0;
}

.u-section-4 .u-group-elements-9 {
  width: 324px;
  min-height: 156px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 10px auto 0 306px;
}

.u-section-4 .u-shape-5 {
  background-image: none;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 267px;
  margin: 24px auto 0;
}

.u-section-4 .u-group-elements-10 {
  width: 376px;
  min-height: 112px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px 352px 0 auto;
}

.u-section-4 .u-rotation-parent-5 {
  animation-timing-function: ease;
  width: 112px;
  height: 112px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-icon-5 {
  width: 112px;
  height: 112px;
  transform-origin: center center;
  margin-left: 0;
  margin-right: 0;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  padding: 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -75px 0 0 95px;
}

.u-section-4 .u-group-elements-11 {
  width: 324px;
  min-height: 156px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 10px auto 0 306px;
}

.u-section-4 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 31px 0 25px;
}

.u-section-4 .u-group-elements-12 {
  width: 333px;
  min-height: 38px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -97px 17px 0 auto;
}

.u-section-4 .u-rotation-parent-6 {
  animation-timing-function: ease;
  width: 122px;
  height: 122px;
  margin: -36px auto 0 -139px;
}

.u-section-4 .u-icon-6 {
  width: 122px;
  height: 122px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
  padding: 0;
}

.u-section-4 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -85px 0 0 auto;
}

.u-section-4 .u-group-elements-13 {
  width: 304px;
  min-height: 112px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 66px auto 0 412px;
}

.u-section-4 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px 0 0 95px;
}

.u-section-4 .u-rotation-parent-7 {
  animation-timing-function: ease;
  width: 112px;
  height: 112px;
  margin: -64px auto 0 0;
}

.u-section-4 .u-icon-7 {
  width: 112px;
  height: 112px;
  transform-origin: center center;
  margin-left: 0;
  margin-right: 0;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  padding: 0;
}

.u-section-4 .u-group-elements-14 {
  width: 137px;
  min-height: 137px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 7px auto 0 399px;
}

.u-section-4 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 49px 38px 0;
}

.u-section-4 .u-group-elements-15 {
  width: 317px;
  min-height: 122px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -122px 280px 0 auto;
}

.u-section-4 .u-rotation-parent-8 {
  animation-timing-function: ease;
  width: 122px;
  height: 122px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-icon-8 {
  width: 122px;
  height: 122px;
  transform-origin: center center;
  margin-left: 0;
  margin-right: 0;
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
  padding: 0;
}

.u-section-4 .u-text-16 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -80px 0 0 146px;
}

.u-section-4 .u-group-elements-16 {
  width: 5px;
  min-height: 29px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 47px auto 0 414px;
}

.u-section-4 .u-text-17 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-rotation-parent-9 {
  animation-timing-function: ease;
  width: 112px;
  height: 112px;
  margin: -71px auto 0 0;
}

.u-section-4 .u-icon-9 {
  width: 112px;
  height: 112px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  padding: 0;
}

.u-section-4 .u-group-elements-17 {
  width: 250px;
  min-height: 139px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0 335px;
}

.u-section-4 .u-text-18 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 139px;
  margin: 31px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  align-self: center;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 160px auto 46px;
  padding: 14px 36px 14px 35px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2169px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1661px;
  }

  .u-section-4 .u-group-elements-10 {
    margin-right: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-left: 302px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-2 {
    margin-left: 357px;
  }

  .u-section-4 .u-group-elements-3 {
    margin-left: 320px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-4 {
    margin-left: 297px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-5 {
    margin-left: 320px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-6 {
    margin-left: 309px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-7 {
    margin-left: 320px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-8 {
    margin-left: 404px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-9 {
    margin-left: 216px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-10 {
    margin-right: 164px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-11 {
    margin-left: 216px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-13 {
    margin-left: 236px;
  }

  .u-section-4 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-15 {
    margin-right: 223px;
  }

  .u-section-4 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-elements-17 {
    margin-left: 290px;
  }

  .u-section-4 .u-text-18 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-left: 102px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-left: 157px;
  }

  .u-section-4 .u-group-elements-3 {
    margin-left: 120px;
  }

  .u-section-4 .u-group-elements-4 {
    margin-left: 97px;
  }

  .u-section-4 .u-group-elements-5 {
    margin-left: 120px;
  }

  .u-section-4 .u-group-elements-6 {
    margin-left: 109px;
  }

  .u-section-4 .u-group-elements-7 {
    margin-left: 120px;
  }

  .u-section-4 .u-group-elements-8 {
    margin-left: 204px;
  }

  .u-section-4 .u-group-elements-9 {
    margin-left: 16px;
  }

  .u-section-4 .u-group-elements-10 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-group-elements-11 {
    margin-left: 16px;
  }

  .u-section-4 .u-group-elements-12 {
    margin-right: 7px;
  }

  .u-section-4 .u-group-elements-13 {
    margin-left: 36px;
  }

  .u-section-4 .u-group-elements-14 {
    margin-left: 203px;
  }

  .u-section-4 .u-group-elements-15 {
    margin-right: 23px;
  }

  .u-section-4 .u-group-elements-16 {
    margin-left: 335px;
  }

  .u-section-4 .u-group-elements-17 {
    margin-left: 90px;
  }
}